body {
  margin:0px;
  background-color:rgba(244, 244, 244, 1);
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:44px;
}
#u10631 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:44px;
}
#u10632 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u10634 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:9px;
  width:24px;
  height:24px;
}
#u10635 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u10636 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:11px;
  width:248px;
  height:21px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u10637 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u10638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u10638 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:54px;
  width:57px;
  height:20px;
  font-family:'Microsoft YaHei UI';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u10639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:394px;
  height:180px;
}
#u10641 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:2px;
}
#u10642 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:145px;
  width:378px;
  height:1px;
}
#u10643 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:2px;
}
#u10644 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:207px;
  width:378px;
  height:1px;
}
#u10645 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u10646 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:104px;
  width:33px;
  height:21px;
  font-family:'Microsoft YaHei UI';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u10647 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u10648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u10648 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:92px;
  width:48px;
  height:48px;
}
#u10649 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u10651 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:109px;
  width:16px;
  height:16px;
}
#u10652 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u10653 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:166px;
  width:33px;
  height:21px;
  font-family:'Microsoft YaHei UI';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u10654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u10655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u10655 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:224px;
  width:33px;
  height:21px;
  font-family:'Microsoft YaHei UI';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u10656 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u10657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u10657 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:166px;
  width:100px;
  height:21px;
  font-family:'Microsoft YaHei UI';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u10658 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u10659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u10659 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:224px;
  width:48px;
  height:21px;
  font-family:'Microsoft YaHei UI';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u10660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u10662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u10662 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:229px;
  width:16px;
  height:16px;
}
#u10663 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u10664 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:282px;
  width:71px;
  height:20px;
  font-family:'Microsoft YaHei UI';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u10665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u10666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10666 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:314px;
  width:394px;
  height:180px;
}
#u10667 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:2px;
}
#u10668 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:373px;
  width:378px;
  height:1px;
}
#u10669 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:2px;
}
#u10670 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:435px;
  width:378px;
  height:1px;
}
#u10671 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u10672 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:332px;
  width:49px;
  height:21px;
  font-family:'Microsoft YaHei UI';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u10673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u10674 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:394px;
  width:33px;
  height:21px;
  font-family:'Microsoft YaHei UI';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u10675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u10676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u10676 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:452px;
  width:65px;
  height:21px;
  font-family:'Microsoft YaHei UI';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u10677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u10678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u10678 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:332px;
  width:88px;
  height:21px;
  font-family:'Microsoft YaHei UI';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u10679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u10680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u10680 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:394px;
  width:154px;
  height:21px;
  font-family:'Microsoft YaHei UI';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u10681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u10683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u10683 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:455px;
  width:16px;
  height:16px;
}
#u10684 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:40px;
  background:inherit;
  background-color:rgba(121, 121, 121, 0.23921568627451);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10685 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:600px;
  width:361px;
  height:40px;
  color:#FFFFFF;
}
#u10686 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:357px;
  word-wrap:break-word;
}
#u10687 {
  position:absolute;
  left:0px;
  top:678px;
  visibility:hidden;
}
#u10687_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:394px;
  height:180px;
  background-image:none;
}
#u10687_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10688 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:180px;
}
#u10689 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u10690 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:21px;
  width:65px;
  height:21px;
  font-family:'Microsoft YaHei UI';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u10691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u10692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:41px;
}
#u10692 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:52px;
  width:360px;
  height:41px;
}
#u10693 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:rgba(121, 121, 121, 0.317647058823529);
}
#u10694 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:62px;
  width:48px;
  height:21px;
  font-family:'Microsoft YaHei UI';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:rgba(121, 121, 121, 0.317647058823529);
}
#u10695 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u10696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10697 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:60px;
  width:25px;
  height:25px;
}
#u10698 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10699 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:60px;
  width:25px;
  height:25px;
}
#u10700 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.227450980392157);
  border:none;
  border-right:0px;
  border-radius:30px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u10701 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:122px;
  width:177px;
  height:40px;
  color:#999999;
}
#u10702 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:173px;
  word-wrap:break-word;
}
#u10703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:40px;
  background:inherit;
  background-color:rgba(116, 177, 57, 1);
  border:none;
  border-radius:30px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10703 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:122px;
  width:177px;
  height:40px;
  color:#FFFFFF;
}
#u10704 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:173px;
  word-wrap:break-word;
}
#u10687_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:394px;
  height:180px;
  visibility:hidden;
  background-image:none;
}
#u10687_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10705 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:180px;
}
#u10706 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u10707 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:21px;
  width:65px;
  height:21px;
  font-family:'Microsoft YaHei UI';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u10708 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u10709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:rgba(121, 121, 121, 0.317647058823529);
}
#u10709 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:59px;
  width:141px;
  height:20px;
  font-family:'Microsoft YaHei UI';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:rgba(121, 121, 121, 0.317647058823529);
}
#u10710 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u10711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.227450980392157);
  border:none;
  border-right:0px;
  border-radius:30px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u10711 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:122px;
  width:177px;
  height:40px;
  color:#999999;
}
#u10712 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:173px;
  word-wrap:break-word;
}
#u10713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:40px;
  background:inherit;
  background-color:rgba(116, 177, 57, 1);
  border:none;
  border-radius:30px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10713 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:122px;
  width:177px;
  height:40px;
  color:#FFFFFF;
}
#u10714 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:173px;
  word-wrap:break-word;
}
#u10715 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:208px;
  width:52px;
  height:58px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10716 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:436px;
  width:52px;
  height:58px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
