body {
  margin:0px;
  background-color:rgba(244, 244, 244, 1);
  background-image:none;
  position:static;
  left:auto;
  width:394px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:678px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:678px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:331px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:549px;
  overflow:hidden;
}
#u130_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:549px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u130_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:416px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:133px;
  width:394px;
  height:416px;
  opacity:0.7;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:200px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:549px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u130_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:416px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:133px;
  width:394px;
  height:416px;
  opacity:0.8;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:200px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:549px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u130_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:416px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:133px;
  width:394px;
  height:416px;
  opacity:0.9;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:200px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:549px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u130_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:416px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:133px;
  width:394px;
  height:416px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:200px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:586px;
  width:54px;
  height:54px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:678px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:48px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:233px;
  width:160px;
  height:48px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:281px;
  width:394px;
  height:17px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  word-wrap:break-word;
}
#u151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:26px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:314px;
  width:256px;
  height:26px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
