body {
  margin:0px;
  background-color:rgba(244, 244, 244, 1);
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5361 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:376px;
  width:394px;
  height:320px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5362 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-50px;
  width:394px;
  height:1576px;
  overflow:hidden;
  touch-action:none;
}
#u5362_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:1576px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5362_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:668px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5363 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:394px;
  height:668px;
}
#u5364 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:2px;
}
#u5365 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:652px;
  width:393px;
  height:1px;
  opacity:0.6;
}
#u5366 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:389px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:2px;
}
#u5367 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:572px;
  width:393px;
  height:1px;
  opacity:0.6;
}
#u5368 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:389px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:158px;
}
#u5369 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:572px;
  width:1px;
  height:157px;
  opacity:0.6;
}
#u5370 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:2px;
}
#u5371 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:728px;
  width:393px;
  height:1px;
  opacity:0.6;
}
#u5372 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:389px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:394px;
  height:300px;
  overflow:hidden;
}
#u5373_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:300px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5373_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5374 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:256px;
  background:inherit;
  background-color:rgba(207, 216, 220, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5375 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:28px;
  width:150px;
  height:256px;
}
#u5376 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:120px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:13px;
  background:inherit;
  background-color:rgba(207, 216, 220, 1);
  border:none;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5377 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:15px;
  width:76px;
  height:13px;
}
#u5377_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:13px;
  background:inherit;
  background-color:rgba(116, 177, 57, 0.898039215686275);
  border:none;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5377.selected {
}
#u5378 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
  background:inherit;
  background-color:rgba(116, 177, 57, 0.898039215686275);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5379 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:264px;
  width:150px;
  height:20px;
}
#u5379_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
  background:inherit;
  background-color:rgba(116, 177, 57, 0.898039215686275);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5379.selected {
}
#u5380 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u5381 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:95px;
  width:96px;
  height:96px;
}
#u5382 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5373_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5373_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u5384 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:0px;
  width:300px;
  height:300px;
}
#u5385 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:256px;
}
#u5386 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:22px;
  width:256px;
  height:256px;
}
#u5387 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:120px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:rgba(116, 177, 57, 0.898039215686275);
  text-align:center;
}
#u5388 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:63px;
  width:192px;
  height:36px;
  font-size:28px;
  color:rgba(116, 177, 57, 0.898039215686275);
  text-align:center;
}
#u5389 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u5390 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:113px;
  width:240px;
  height:72px;
}
#u5390_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:72px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:rgba(116, 177, 57, 0.898039215686275);
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u5391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:rgba(116, 177, 57, 0.898039215686275);
  text-align:center;
}
#u5391 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:210px;
  width:192px;
  height:36px;
  font-size:28px;
  color:rgba(116, 177, 57, 0.898039215686275);
  text-align:center;
}
#u5392 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u5393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u5393 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:1px;
  width:23px;
  height:23px;
}
#u5394 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u5395 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:602px;
  width:91px;
  height:24px;
  font-size:18px;
  color:#999999;
}
#u5396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u5397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u5397 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:602px;
  width:91px;
  height:24px;
  font-size:18px;
  color:#999999;
}
#u5398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u5399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u5399 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:676px;
  width:91px;
  height:24px;
  font-size:18px;
  color:#999999;
}
#u5400 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u5401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u5401 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:676px;
  width:91px;
  height:24px;
  font-size:18px;
  color:#999999;
}
#u5402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u5403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:rgba(153, 153, 153, 0.898039215686275);
}
#u5403 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:602px;
  width:52px;
  height:24px;
  font-size:18px;
  color:rgba(153, 153, 153, 0.898039215686275);
}
#u5404 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u5405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:rgba(153, 153, 153, 0.898039215686275);
}
#u5405 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:602px;
  width:67px;
  height:24px;
  font-size:18px;
  color:rgba(153, 153, 153, 0.898039215686275);
}
#u5406 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u5407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:rgba(153, 153, 153, 0.898039215686275);
}
#u5407 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:678px;
  width:52px;
  height:24px;
  font-size:18px;
  color:rgba(153, 153, 153, 0.898039215686275);
}
#u5408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u5409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:2px;
}
#u5409 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:778px;
  width:393px;
  height:1px;
  opacity:0.6;
  color:#CCCCCC;
}
#u5410 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:389px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5411 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:743px;
  width:127px;
  height:20px;
  color:#999999;
}
#u5412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u5413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:2px;
}
#u5413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1117px;
  width:393px;
  height:1px;
  opacity:0.6;
  color:#CCCCCC;
}
#u5414 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:389px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5415 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:1081px;
  width:57px;
  height:20px;
  color:#999999;
}
#u5416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:rgba(153, 153, 153, 0.898039215686275);
}
#u5417 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:678px;
  width:67px;
  height:24px;
  font-size:18px;
  color:rgba(153, 153, 153, 0.898039215686275);
}
#u5418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u5419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1118px;
  width:394px;
  height:40px;
}
#u5421 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.619607843137255);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1118px;
  width:394px;
  height:40px;
}
#u5423 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:41px;
}
#u5424 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1118px;
  width:98px;
  height:40px;
  font-size:16px;
  color:rgba(204, 204, 204, 0.666666666666667);
}
#u5424_img.selected {
  left:-1px;
  top:-1px;
  width:101px;
  height:43px;
}
#u5424.selected {
}
#u5425 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u5426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:41px;
}
#u5426 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:1118px;
  width:98px;
  height:40px;
  font-size:16px;
  color:rgba(204, 204, 204, 0.698039215686274);
}
#u5426_img.selected {
  left:-1px;
  top:-1px;
  width:101px;
  height:43px;
}
#u5426.selected {
}
#u5427 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u5428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:41px;
}
#u5428 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:1118px;
  width:98px;
  height:40px;
  font-size:16px;
  color:rgba(204, 204, 204, 0.698039215686274);
}
#u5428_img.selected {
  left:-1px;
  top:-1px;
  width:101px;
  height:43px;
}
#u5428.selected {
}
#u5429 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u5430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u5430 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:1123px;
  width:1px;
  height:30px;
}
#u5431 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u5432 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:1123px;
  width:1px;
  height:30px;
}
#u5433 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:41px;
}
#u5434 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:1118px;
  width:98px;
  height:40px;
  font-size:16px;
  color:rgba(204, 204, 204, 0.698039215686274);
}
#u5434_img.selected {
  left:-1px;
  top:-1px;
  width:101px;
  height:43px;
}
#u5434.selected {
}
#u5435 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u5436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u5436 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:1123px;
  width:1px;
  height:30px;
}
#u5437 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5438 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1159px;
  width:394px;
  height:370px;
  overflow:hidden;
}
#u5438_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:370px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5438_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:320px;
}
#u5439 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:394px;
  height:320px;
}
#u5440 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:152px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5441 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5442 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u5443 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:-116px;
  width:56px;
  height:56px;
  color:#FFFFFF;
}
#u5444 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  word-wrap:break-word;
}
#u5445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u5445 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:157px;
  width:56px;
  height:56px;
  color:#FFFFFF;
}
#u5446 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  word-wrap:break-word;
}
#u5447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u5447 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:50px;
  width:56px;
  height:56px;
  color:#FFFFFF;
}
#u5448 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  word-wrap:break-word;
}
#u5449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u5449 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:-106px;
  width:56px;
  height:56px;
  color:#FFFFFF;
}
#u5450 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  word-wrap:break-word;
}
#u5451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u5451 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:-71px;
  width:56px;
  height:56px;
  color:#FFFFFF;
}
#u5452 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  word-wrap:break-word;
}
#u5453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u5453 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:-12px;
  width:56px;
  height:56px;
  color:#FFFFFF;
}
#u5454 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  word-wrap:break-word;
}
#u5455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u5455 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:106px;
  width:56px;
  height:56px;
  color:#FFFFFF;
}
#u5456 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  word-wrap:break-word;
}
#u5457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u5457 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:145px;
  width:56px;
  height:56px;
  color:#FFFFFF;
}
#u5458 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  word-wrap:break-word;
}
#u5459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u5459 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:17px;
  width:56px;
  height:56px;
  color:#FFFFFF;
}
#u5460 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  word-wrap:break-word;
}
#u5461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5461 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:15px;
  width:15px;
  height:20px;
  color:#999999;
}
#u5462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u5438_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:370px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5438_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:320px;
}
#u5463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:394px;
  height:320px;
}
#u5464 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:152px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5465 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:15px;
  width:37px;
  height:20px;
  color:#999999;
}
#u5466 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u5438_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:370px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5438_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5467 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:15px;
  width:37px;
  height:20px;
  color:#999999;
}
#u5468 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u5469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:320px;
}
#u5469 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:394px;
  height:320px;
}
#u5470 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:152px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5438_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:370px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5438_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5471 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:15px;
  width:37px;
  height:20px;
  color:#999999;
}
#u5472 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u5473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:320px;
}
#u5473 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:394px;
  height:320px;
}
#u5474 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:152px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:50px;
  overflow:hidden;
}
#u5475_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5475_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:20px;
}
#u5476 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:14px;
  width:148px;
  height:20px;
  font-family:'Microsoft YaHei UI';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u5477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u5475_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5475_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:20px;
}
#u5478 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:15px;
  width:148px;
  height:20px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u5479 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u5480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5480 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:0px;
  width:50px;
  height:50px;
  color:#999999;
}
#u5481 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5482 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1528px;
  width:394px;
  height:50px;
  overflow:hidden;
}
#u5482_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5482_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:center;
}
#u5483 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:15px;
  width:283px;
  height:20px;
  color:#CCCCCC;
  text-align:center;
}
#u5484 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  white-space:nowrap;
}
#u5482_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5482_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:center;
}
#u5485 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:15px;
  width:283px;
  height:20px;
  color:#CCCCCC;
  text-align:center;
}
#u5486 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  white-space:nowrap;
}
#u5487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:center;
}
#u5487 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:1173px;
  width:88px;
  height:20px;
  color:#CCCCCC;
  text-align:center;
}
#u5488 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u5489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u5489 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:1176px;
  width:16px;
  height:16px;
}
#u5490 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u5491 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:1176px;
  width:16px;
  height:16px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u5492 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:288px;
}
#u5493 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:779px;
  width:394px;
  height:288px;
}
#u5494 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:136px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:10px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5496 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:394px;
  height:10px;
}
#u5497 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5498 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:444px;
  width:163px;
  height:79px;
  overflow:hidden;
}
#u5498_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:79px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5498_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:rgba(116, 177, 57, 0.898039215686275);
}
#u5499 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:92px;
  height:36px;
  font-size:28px;
  color:rgba(116, 177, 57, 0.898039215686275);
}
#u5500 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u5501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:rgba(116, 177, 57, 0.898039215686275);
}
#u5501 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:22px;
  width:33px;
  height:36px;
  font-size:28px;
  color:rgba(116, 177, 57, 0.898039215686275);
}
#u5502 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:rgba(116, 177, 57, 0.898039215686275);
}
#u5503 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:22px;
  width:26px;
  height:36px;
  font-size:28px;
  color:rgba(116, 177, 57, 0.898039215686275);
}
#u5504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u5498_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:79px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5498_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:rgba(116, 177, 57, 0.898039215686275);
}
#u5505 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:21px;
  width:113px;
  height:36px;
  font-size:28px;
  color:rgba(116, 177, 57, 0.898039215686275);
}
#u5506 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u5507 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:44px;
}
#u5509 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:44px;
}
#u5510 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5511 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5512 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:9px;
  width:24px;
  height:24px;
}
#u5513 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5514 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:0px;
  width:100px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5515 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5516 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:9px;
  width:24px;
  height:24px;
}
#u5517 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5518 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u5519 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:11px;
  width:232px;
  height:21px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u5520 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  word-wrap:break-word;
}
