body {
  margin:0px;
  background-color:rgba(244, 244, 244, 1);
  background-image:none;
  position:static;
  left:auto;
  width:394px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:44px;
}
#u10314 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:44px;
}
#u10315 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:44px;
}
#u10318 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:44px;
}
#u10319 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10320 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u10321 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:9px;
  width:24px;
  height:24px;
}
#u10322 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u10323 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:11px;
  width:248px;
  height:21px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u10324 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u10325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10325 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:57px;
  width:394px;
  height:71px;
}
#u10326 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u10328 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:85px;
  width:16px;
  height:16px;
}
#u10329 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u10330 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:72px;
  width:155px;
  height:20px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u10331 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u10332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u10332 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:97px;
  width:143px;
  height:17px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u10333 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u10334 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:57px;
  width:394px;
  height:71px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
