body {
  margin:0px;
  background-color:rgba(244, 244, 244, 1);
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:44px;
}
#u2995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:44px;
}
#u2996 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2998 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:9px;
  width:24px;
  height:24px;
}
#u2999 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u3000 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:11px;
  width:320px;
  height:21px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u3001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u3002 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:394px;
  height:424px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:334px;
  width:393px;
  height:366px;
  overflow:hidden;
  touch-action:none;
}
#u3003_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:366px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3003_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:316px;
  width:394px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:366px;
  overflow:hidden;
}
#u3005_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:366px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3005_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3007 {
  position:absolute;
  left:16px;
  top:11px;
}
#u3007_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
  background-image:none;
}
#u3007_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
}
#u3008 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
}
#u3009 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3007_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
  visibility:hidden;
  background-image:none;
}
#u3007_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
}
#u3010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
}
#u3011 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3012 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3013 {
  position:absolute;
  left:150px;
  top:12px;
}
#u3013_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
  background-image:none;
}
#u3013_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
}
#u3014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
}
#u3015 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3013_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
  visibility:hidden;
  background-image:none;
}
#u3013_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
}
#u3016 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
}
#u3017 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3018 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3019 {
  position:absolute;
  left:285px;
  top:12px;
}
#u3019_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
  background-image:none;
}
#u3019_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
}
#u3020 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
}
#u3021 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3019_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
  visibility:hidden;
  background-image:none;
}
#u3019_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
}
#u3022 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
}
#u3023 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3024 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3025 {
  position:absolute;
  left:16px;
  top:136px;
}
#u3025_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
  background-image:none;
}
#u3025_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
}
#u3026 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
}
#u3027 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3025_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
  visibility:hidden;
  background-image:none;
}
#u3025_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
}
#u3028 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
}
#u3029 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3030 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3031 {
  position:absolute;
  left:150px;
  top:137px;
}
#u3031_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
  background-image:none;
}
#u3031_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
}
#u3032 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
}
#u3033 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3031_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
  visibility:hidden;
  background-image:none;
}
#u3031_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
}
#u3034 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
}
#u3035 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3037 {
  position:absolute;
  left:285px;
  top:137px;
}
#u3037_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
  background-image:none;
}
#u3037_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
}
#u3038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
}
#u3039 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3037_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
  visibility:hidden;
  background-image:none;
}
#u3037_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
}
#u3040 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
}
#u3041 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u3042 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:107px;
  width:96px;
  height:20px;
  color:#999999;
  text-align:center;
}
#u3043 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u3044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u3044 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:108px;
  width:96px;
  height:20px;
  color:#999999;
  text-align:center;
}
#u3045 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u3046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u3046 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:107px;
  width:96px;
  height:20px;
  color:#999999;
  text-align:center;
}
#u3047 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u3048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u3048 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:231px;
  width:96px;
  height:20px;
  color:#999999;
  text-align:center;
}
#u3049 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u3050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u3050 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:232px;
  width:96px;
  height:20px;
  color:#999999;
  text-align:center;
}
#u3051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u3052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u3052 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:232px;
  width:96px;
  height:20px;
  color:#999999;
  text-align:center;
}
#u3053 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u3005_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:366px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3005_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3005_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:366px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3005_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3005_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:366px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3005_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3003_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:366px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3003_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:85px;
}
#u3054 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:595px;
  width:394px;
  height:84px;
}
#u3055 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:230px;
  background:inherit;
  background-color:rgba(185, 216, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3056 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:54px;
  width:394px;
  height:230px;
}
#u3057 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:107px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3058 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3059 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:65px;
  width:210px;
  height:210px;
}
#u3060 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:97px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u3061 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:147px;
  width:48px;
  height:48px;
}
#u3061_img.selected {
}
#u3061.selected {
}
#u3062 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u3063 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:147px;
  width:48px;
  height:48px;
}
#u3063_img.selected {
}
#u3063.selected {
}
#u3064 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u3065 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:147px;
  width:48px;
  height:48px;
}
#u3065_img.selected {
}
#u3065.selected {
}
#u3066 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3067 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3068_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3068 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:293px;
  width:394px;
  height:40px;
}
#u3069 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3070_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.619607843137255);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3070 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:293px;
  width:394px;
  height:40px;
}
#u3071 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:41px;
}
#u3072 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:293px;
  width:197px;
  height:40px;
  font-size:16px;
  color:rgba(204, 204, 204, 0.666666666666667);
}
#u3072_img.selected {
  left:-1px;
  top:-1px;
  width:200px;
  height:43px;
}
#u3072.selected {
}
#u3073 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:10px;
  width:181px;
  word-wrap:break-word;
}
#u3074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:41px;
}
#u3074 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:293px;
  width:197px;
  height:40px;
  font-size:16px;
  color:rgba(204, 204, 204, 0.698039215686274);
}
#u3074_img.selected {
  left:-1px;
  top:-1px;
  width:200px;
  height:43px;
}
#u3074.selected {
}
#u3075 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:10px;
  width:181px;
  word-wrap:break-word;
}
#u3076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u3076 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:298px;
  width:1px;
  height:30px;
}
#u3077 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3079_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:10px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3079 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:283px;
  width:394px;
  height:10px;
}
#u3080 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3081_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:40px;
  background:inherit;
  background-color:rgba(116, 177, 57, 0.698039215686274);
  border:none;
  border-right:0px;
  border-radius:30px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u3081 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:618px;
  width:183px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u3082 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:179px;
  word-wrap:break-word;
}
#u3083_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.898039215686275);
  border:none;
  border-radius:30px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u3083 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:618px;
  width:183px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u3084 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:179px;
  word-wrap:break-word;
}
#u3086_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:10px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3086 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:394px;
  height:10px;
}
#u3087 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3088 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:10px;
  width:24px;
  height:24px;
}
#u3089 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3090 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:0px;
  width:100px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3091 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
