body {
  margin:0px;
  background-color:rgba(244, 244, 244, 1);
  background-image:none;
  position:static;
  left:auto;
  width:394px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:44px;
}
#u10080 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:44px;
}
#u10081 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:44px;
}
#u10084 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:44px;
}
#u10085 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10086 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u10087 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:9px;
  width:24px;
  height:24px;
}
#u10088 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10089_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u10089 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:11px;
  width:248px;
  height:21px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u10090 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u10091_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:621px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10091 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:57px;
  width:394px;
  height:621px;
}
#u10092 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:302px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u10093 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:72px;
  width:57px;
  height:20px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u10094 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:2px;
}
#u10095 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:102px;
  width:353px;
  height:1px;
}
#u10096 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:2px;
}
#u10097 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:160px;
  width:353px;
  height:1px;
}
#u10098 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u10100 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:125px;
  width:16px;
  height:16px;
}
#u10101 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u10102 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:123px;
  width:321px;
  height:20px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u10103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  word-wrap:break-word;
}
#u10104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u10104 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:596px;
  width:40px;
  height:40px;
}
#u10105 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u10106 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:639px;
  width:65px;
  height:20px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u10107 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u10108 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:573px;
  width:65px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10109 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:102px;
  width:350px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
