body {
  margin:0px;
  background-color:rgba(244, 244, 244, 1);
  background-image:none;
  position:static;
  left:auto;
  width:213px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12122 {
  position:absolute;
  left:195px;
  top:72px;
}
#u12122_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:5px;
  height:200px;
  background-image:none;
}
#u12122_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12123_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:205px;
}
#u12123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:200px;
}
#u12124 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12122_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:5px;
  height:200px;
  visibility:hidden;
  background-image:none;
}
#u12122_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12125_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:205px;
}
#u12125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:200px;
}
#u12126 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12127 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:54px;
  width:32px;
  height:32px;
  overflow:hidden;
}
#u12127_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12127_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u12128 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:8px;
  width:15px;
  height:15px;
}
#u12129 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12127_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12127_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u12130 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:9px;
  width:10px;
  height:15px;
}
#u12131 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
